<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.ksmart_mybatis.mapper.GoodsMapper">

	<select id="getGoodsList1">
	  	SELECT * FROM tb_goods
	</select>
	
	<select id="getGoodsList" resultType="kr.or.ksmart.ksmart_mybatis.vo.Goods">
	  	SELECT 
			 g_code 
			,m_id 	
			,g_name 
			,g_cate 
			,g_price 
			,g_color 
			,g_size 
			,g_date 
			,g_desc 
		FROM tb_goods
	</select>
</mapper>